{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "rules": {
    "react/prop-types": [0]
  }
}